<mat-card dir="rtl">
    <mat-card-header>
        <div mat-card-avatar>avatar</div>
        <mat-card-title>  الأصناف التالفة</mat-card-title>
        <mat-card-subtitle>المدخـــلات الأساسية</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-card >

              <div class="row">
                    
          
                <div class="col-sm-6">
                 
                      <mat-card>
                        <mat-form-field appearance="fill">
                            <mat-label>  رقم الصنف</mat-label>
                            <input type="number" matInput placeholder="Placeholder">
                            
                            
                          </mat-form-field>
                      </mat-card>


                     
        
                     

                </div>

                <div class="col-sm-6">
                 
                   
                    <mat-card>
                        <mat-form-field appearance="fill">
                            <mat-label>   إسم الصنف</mat-label>
                            <input type="input" matInput placeholder="Placeholder">
                            
                            
                          </mat-form-field>
                    </mat-card>
                    

             </div>

            </div>
              
            <div class="row">
                    
          
                <div class="col-sm-6">
                 
                      <mat-card>
                        <mat-form-field appearance="fill">
                            <mat-label>  رقم المخزن</mat-label>
                            <input type="number" matInput placeholder="Placeholder">
                            
                            
                          </mat-form-field>
                      </mat-card>


                     
        
                     

                </div>

                <div class="col-sm-6">
                 
                   
                    <mat-card>
                        <mat-form-field appearance="fill">
                            <mat-label>   إسم المخزن</mat-label>
                            <input type="input" matInput placeholder="Placeholder">
                            
                            
                          </mat-form-field>
                    </mat-card>
                    

             </div>

            </div>
              

            <div class="row">
                    
          
                <div class="col-sm-6">
                 
                      <mat-card>
                        <mat-form-field appearance="fill">
                            <mat-label>   التـــاريخ</mat-label>
                            <input type="date" matInput placeholder="Placeholder">
                            
                            
                          </mat-form-field>
                      </mat-card>


                     
        
                     

                </div>

                <div class="col-sm-6">
                 
                   
                    <mat-card>
                        <mat-form-field appearance="fill">
                            <mat-label>   الوحدة</mat-label>
                            <input type="input" matInput placeholder="Placeholder">
                            
                            
                          </mat-form-field>
                    </mat-card>
                    

             </div>

            </div>
              

            <div class="row">
                    
          
                <div class="col-sm-6">
                 
                      <mat-card>
                        <mat-form-field appearance="fill">
                            <mat-label>   الكمية</mat-label>
                            <input type="number" matInput placeholder="Placeholder">
                            
                            
                          </mat-form-field>
                      </mat-card>


                     
        
                     

                </div>

                <div class="col-sm-6">
                 
                   
                    <mat-card>
                        <mat-form-field appearance="fill">
                            <mat-label>   السبب</mat-label>
                            <input type="input" matInput placeholder="Placeholder">
                            
                            
                          </mat-form-field>
                    </mat-card>
                    

             </div>

            </div>
              

            <div class="row">
                    
          
                <div class="col-sm-6">
                 
                      <mat-card>
                        <mat-form-field appearance="fill">
                            <mat-label>  رقم الموضف المسؤول</mat-label>
                            <input type="number" matInput placeholder="Placeholder">
                            
                            
                          </mat-form-field>
                      </mat-card>


                     
        
                     

                </div>

                <div class="col-sm-6">
                 
                   
                    <mat-card>
                        <mat-form-field appearance="fill">
                            <mat-label>   إسم الموظف المسؤول</mat-label>
                            <input type="input" matInput placeholder="Placeholder">
                            
                            
                          </mat-form-field>
                    </mat-card>
                    

             </div>

            </div>
              
            

            

        

            

            

           </mat-card>

           
            <mat-card>
                <mat-card-actions>
                    <button mat-raised-button color="warn">حفظ</button>
                    <button mat-raised-button>تراجع</button>
                    <button mat-raised-button >الغاء</button>
                    <button mat-raised-button>تعديل</button>
                    <button mat-raised-button >بحث</button>
                    <button mat-raised-button>إضافة</button>
                    <button mat-raised-button >إغلاق</button>
                    
                    </mat-card-actions>
            </mat-card>
    </mat-card-content>
    
    
</mat-card>