<form autocomplete="off" #editChartOfAccountsForm="ngForm" (ngSubmit)="save()" dir="rtl">
  <h1 mat-dialog-title>{{ "تعديل الحساب" | localize }}</h1>
  <mat-dialog-content style="height:600px;">
     <mat-tab-group>
      <mat-tab [label]="'التفاصيل' | localize">
        <br />

        <div class="row-fluid">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-6 col-sm-push-6">
                <mat-form-field appearance="fill">
                  <mat-label> رقم الحساب </mat-label>
                  <input
                    [(ngModel)]="chartOfAccounts.id"
                    type="number"
                    matInput
                    placeholder="Placeholder"
                    name="Id"
                  />
                </mat-form-field>
              </div>
              <div class="col-sm-6 col-sm-pull-6">
                <mat-form-field appearance="fill">
                  <mat-label> الحساب الرئسي </mat-label>
                  <input
                    [(ngModel)]="chartOfAccounts.mainAccountId"
                    type="number"
                    matInput
                    placeholder="Placeholder"
                    name="mainAccount_Id"
                  />
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 col-sm-push-6">
                <mat-form-field appearance="fill">
                  <mat-label> اسم الحساب  </mat-label>
                  <input 
                    [(ngModel)]="chartOfAccounts.accountName"
                    type="text"
                    matInput
                    placeholder="Placeholder"
                    name="account_Name"
                  />
                </mat-form-field>
              </div>
              <div class="col-sm-6 col-sm-pull-6">
              
                <mat-form-field appearance="fill">
                  <mat-label> اسم المركز </mat-label>
                  <input 
                    [(ngModel)]="chartOfAccounts.centerName"
                    type="text"
                    matInput
                    placeholder="centerName"
                    name="centerName"
                  />
                </mat-form-field>

              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-sm-push-6">
                <mat-form-field appearance="fill">
                  <mat-label> الرتبه </mat-label>
                  <mat-select placeholder="  الرتبه " name="SelectRank" (selectionChange)="educationLevelChangeAction()" [(ngModel)]="SelectRank" >
                    <mat-option *ngFor="let education of AllRank" (value)="education.name">
                      {{education.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-6 col-sm-pull-6">
                <mat-form-field appearance="fill">
                  <mat-label> نوع الحساب </mat-label>
                  <mat-select placeholder="  نوع الحساب " name="SelectType" (selectionChange)="educationLevelChangeAction()" [(ngModel)]="SelectType" >
                    <mat-option *ngFor="let education of AllType" [value]="education.name" >{{ education.name }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 col-sm-push-6">
                <mat-form-field appearance="fill">
                  <mat-label> العمله </mat-label>
                  <mat-select placeholder="العمله" name="SelectCurnys" (selectionChange)="educationLevelChangeAction()" [(ngModel)]="SelectCurnys" >
                    <mat-option *ngFor="let education of AllCurnsy" [value]="education.name" >{{ education.name }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-6 col-sm-pull-6">
                <mat-form-field>
                  <mat-select placeholder=" اسم المجموعه " name="SelectGroup" (selectionChange)="educationLevelChangeAction()" [(ngModel)]="SelectGroup" >
                    <mat-option *ngFor="let education of AllGroup" [value]="education.name" >{{ education.name }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-push-6">
                  <mat-form-field appearance="fill">
                    <mat-label> حالة الحساب </mat-label>
                    <mat-select placeholder="  حاله الحساب " name="SelectState" (selectionChange)="educationLevelChangeAction()" [(ngModel)]="SelectState" >
                      <mat-option *ngFor="let education of AllStat" [value]="education.name" >{{ education.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-6 col-sm-pull-6">
                 
                </div>
              </div>
          
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button
      mat-flat-button
      type="submit"
      flex="15"
      color="primary"
      [disabled]="!editChartOfAccountsForm.form.valid || saving"
    >
      {{ "Save" | localize }}
    </button>
  </div>
</form>
