<mat-card dir="rtl">
        <mat-card-header>
            <div mat-card-avatar>avatar</div>
            <mat-card-title>  انواع الفيز </mat-card-title>
            <mat-card-subtitle>  تهئيه النظام</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
    
            <mat-card>

                <div class="row">
                    <div class="col-sm-6 col-sm-push-6">

                            <mat-card>

           
                                    <mat-form-field appearance="fill">
                                        <mat-label> الرقم  </mat-label>
                                        <input type="number" matInput placeholder="Placeholder">
            
                                    </mat-form-field>
                                    </mat-card>
                    </div>
              
                            <div class="col-sm-6 col-sm-pull-6">
                                    <mat-card>

           
                                            <mat-form-field appearance="fill">
                                                <mat-label>  النوع </mat-label>
                                                <input type="text" matInput placeholder="Placeholder">
                    
                                            </mat-form-field>
                                            </mat-card>
        
                            </div>
                </div>
    
            
                
                <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
    
                                <mat-card>
    
                    <mat-select  placeholder=" البنك">
                        <mat-option [value]="val"></mat-option>
                    </mat-select>
                                      
                                        </mat-card>
                        </div>
                  
                                <div class="col-sm-6 col-sm-pull-6">
                                        <mat-card>
    
               
                                                <mat-form-field appearance="fill">
                                                    <mat-label>  العموله </mat-label>
                                                    <input type="text" matInput placeholder="Placeholder">
                        
                                                </mat-form-field>
                                                </mat-card>
            
                                </div>
                    </div>
        
                    
                <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
    
                                <mat-card>
    
               
                                        <mat-form-field appearance="fill">
                                            <mat-label> حساب العموله  </mat-label>
                                            <input type="number" matInput placeholder="Placeholder">
                
                                        </mat-form-field>
                                        </mat-card>
                        </div>
                  
                                <div class="col-sm-6 col-sm-pull-6">
                                        <mat-card>
    
               
                                                <mat-form-field appearance="fill">
                                                    <mat-label>  مده التحصيل </mat-label>
                                                    <input type="text" matInput placeholder="Placeholder">
                        
                                                </mat-form-field>
                                                </mat-card>
            
                                </div>
                    </div>
            </mat-card>
    
    
    
    
        </mat-card-content>
        <mat-card-actions>
            <div class="row">
                <div class="col-sm-12">
                    <button mat-raised-button color="warn">حفظ</button>
                    <button mat-raised-button>تراجع</button>
                    <button mat-raised-button>الغاء</button>
                    <button mat-raised-button>حذف</button>
                    <button mat-raised-button>تعديل</button>
                    <button mat-raised-button>بحث</button>
                    <button mat-raised-button>إضافة</button>
                    <button mat-raised-button>إغلاق</button>
    
                </div>
            </div>
        </mat-card-actions>
    
    </mat-card>
