<mat-card dir="rtl">
    <mat-card-header>
        <div mat-card-avatar>avatar</div>
        <mat-card-title>الــــبــنــوك </mat-card-title>
        <mat-card-subtitle> المدخلات الاساسيه</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-card style="margin-left: auto; width: 70%; margin-right: auto">

      
            <mat-form-field >
              
                <input matInput  type="text"  
                    placeholder=" رقم البنك"
                    required minlength="2" maxlength="32"
                    />
                    
            </mat-form-field>
            <mat-form-field >
              
                
                    <input matInput  type="text"  
                    placeholder="رقم الحساب في البنك"
                    required minlength="2" maxlength="32"
                    />
            </mat-form-field>
            <mat-form-field >
              
                
                <input matInput  type="text"  
                placeholder="  اســـم البنك"
                required minlength="2" maxlength="32"
                />
        </mat-form-field>
        <mat-form-field >
              
                
            <input matInput  type="text"  
            placeholder="رقم   التسلسل"
            required minlength="2" maxlength="32"
            />
    </mat-form-field>
    <mat-form-field >
              
                
        <input matInput  type="text"  
        placeholder="   الحد الادنى"
        required minlength="2" maxlength="32"
        />
</mat-form-field>
          
            
</mat-card>
    </mat-card-content>
  
        <mat-card-actions style="margin-left: auto; width: 70%; margin-right: auto">
            <div class="row">
                <div class="col-sm-12 " >
                    <mat-card >
                  
                            <button mat-raised-button color="warn">حفظ</button>
                            <button mat-raised-button>تراجع</button>
                            <button mat-raised-button >الغاء</button>
                            <button mat-raised-button>تعديل</button>
                            <button mat-raised-button  >بحث</button>
                            <button mat-raised-button>إضافة</button>
                            <button mat-raised-button >إغلاق</button>
                            
                        
                    </mat-card>

                </div>
            </div>
           
            </mat-card-actions>
 
</mat-card>

