<mat-card dir="rtl">
  <mat-card-header>
    <div mat-card-avatar>avatar</div>
    <mat-card-title> بيانات الفروع المرتبطة</mat-card-title>
    <mat-card-subtitle> إدارة النظام</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-sm-6">
        <mat-card>
          <div class="row">
            <div class="col-sm-6">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> اسم الفرع العربي </mat-label>
                  <input type="input" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
            <div class="col-sm-6">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> اسم الفرع الأجنبي</mat-label>
                  <input type="input" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> عنوان الفرع العربي </mat-label>
                  <input type="input" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
            <div class="col-sm-6">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> عنوان الفرع الأجنبي</mat-label>
                  <input type="input" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> الموقع على الأنترنت</mat-label>
                  <input type="input" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
            <div class="col-sm-6">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> السنة المالية</mat-label>
                  <input type="date" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> رقم التلفون </mat-label>
                  <input type="tel" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
            <div class="col-sm-6">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> رقم الفرع</mat-label>
                  <input type="number" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> رقم الفاكس</mat-label>
                  <input type="number" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
            <div class="col-sm-6">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> رقم صندوق البريد</mat-label>
                  <input type="number" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> البريد الالكتروني </mat-label>
                  <input type="email" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
            <div class="col-sm-6"></div>
          </div>
        </mat-card>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <mat-card>
            <mat-checkbox [(ngModel)]="model">إختيار الكل </mat-checkbox>
          </mat-card>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <mat-card>
              <mat-checkbox [(ngModel)]="model"
                >الحسابات الرئيسية
              </mat-checkbox>
              <mat-checkbox [(ngModel)]="model">الدليل المحاسبي</mat-checkbox>
              <mat-checkbox [(ngModel)]="model">مراكز التكلفة</mat-checkbox>
              <mat-checkbox [(ngModel)]="model">الأصناف</mat-checkbox>
              <mat-checkbox [(ngModel)]="model">الأصناف والأسعار</mat-checkbox>
              <mat-checkbox [(ngModel)]="model">المستخدمين</mat-checkbox>
              <mat-checkbox [(ngModel)]="model"
                >المستخدمين والصلاحيات</mat-checkbox
              >
              <mat-checkbox [(ngModel)]="model">المتغيرات</mat-checkbox>
              <mat-checkbox [(ngModel)]="model"
                >أنواع قيود اليومية</mat-checkbox
              >
              <mat-checkbox [(ngModel)]="model">العملات</mat-checkbox>
            </mat-card>
          </div>

          <div class="col-sm-6">
            <mat-card>
              <mat-checkbox [(ngModel)]="model">بيانات العملاء</mat-checkbox>
              <mat-checkbox [(ngModel)]="model">بيانات التوريد</mat-checkbox>
              <mat-checkbox [(ngModel)]="model">بيانات الموردين</mat-checkbox>
              <mat-checkbox [(ngModel)]="model">الصناديق</mat-checkbox>
              <mat-checkbox [(ngModel)]="model">البنوك</mat-checkbox>
              <mat-checkbox [(ngModel)]="model">المخازن</mat-checkbox>
              <mat-checkbox [(ngModel)]="model">أنواع العملاء</mat-checkbox>
              <mat-checkbox [(ngModel)]="model">المحصلين</mat-checkbox>
              <mat-checkbox [(ngModel)]="model">المناطق</mat-checkbox>
              <mat-checkbox [(ngModel)]="model">المندوبين</mat-checkbox>
            </mat-card>
          </div>
        </div>
      </div>
    </div>

    <mat-card>
      <mat-card-actions>
        <button mat-raised-button color="warn">تعديل</button>
        <button mat-raised-button color="warn">بحث</button>
        <button mat-raised-button color="warn">حفظ</button>
      </mat-card-actions>
    </mat-card>
  </mat-card-content>
</mat-card>
