<mat-card dir="rtl">
  <mat-card-header>
    <div mat-card-avatar>avatar</div>
    <mat-card-title>  فتح سنة جديدة</mat-card-title>
    <mat-card-subtitle> إدارة النظام</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-sm-6">
        <mat-card>
          <mat-card-subtitle>مــــن</mat-card-subtitle>
          <br />
          <mat-form-field appearance="fill">
            <mat-label> الشهـــر </mat-label>
            <input type="number" matInput placeholder="الشهـــر" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label> الســـنة </mat-label>
            <input type="number" matInput placeholder="الســـنة" />
          </mat-form-field>
        </mat-card>
      </div>
      <div class="col-sm-6">
        <mat-card>
          <mat-card-subtitle>الــــى</mat-card-subtitle>
          <br />
          <mat-form-field appearance="fill">
            <mat-label> الشهـــر </mat-label>
            <input type="number" matInput placeholder="الشهـــر" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label> الســـنة </mat-label>
            <input type="number" matInput placeholder="الســـنة" />
          </mat-form-field>
        </mat-card>
      </div>
    </div>

    <div class="row">
      <mat-card>
        <button mat-raised-button color="primary">أفتح سنة جديدة للفرع</button>
        <mat-form-field appearance="fill">
          <mat-label> </mat-label>
          <input type="text" matInput placeholder="Placeholder" />
        </mat-form-field>
      </mat-card>
    </div>

    <mat-card>
      <mat-card-actions>
        <button mat-raised-button color="warn">إقفال</button>
        <button mat-raised-button color="warn">فتح</button>
        <button mat-raised-button color="warn">حفظ</button>
      </mat-card-actions>
    </mat-card>
  </mat-card-content>
</mat-card>
