<mat-card dir="rtl">
    <mat-card-header class="text-right">
        <div mat-card-avatar>avatar</div>
        <mat-card-title>بيانات العملاء</mat-card-title>
        <mat-card-subtitle> المدخلات الاساسيه</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-tab-group dir="ltr" mat-align-tabs="end">
            <mat-tab label="المدخلات">
                <div class="mat-tab-body-wrapper">

                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> رقم العميل </mat-label>
                                    <input type="number" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>
                        </div>
                        <div class="col-sm-6 col-sm-pull-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> رقم الحساب </mat-label>
                                    <input type="number" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> اسم العميل العربي </mat-label>
                                    <input type="text" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>
                        </div>
                        <div class="col-sm-6 col-sm-pull-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> اسم العميل الاجنبي </mat-label>
                                    <input type="text" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <mat-card>
                                <mat-form-field>
                                    <mat-select placeholder="    نوع العميل  ">

                                    </mat-select>

                                </mat-form-field>
                            </mat-card>

                        </div>
                        <div class="col-sm-6 col-sm-pull-6">
                            <fieldset>
                                <legend> طريقه الدفع</legend>
                                <mat-radio-group>
                                    <mat-radio-button labelPosition="before" value="SUFYAN"><span
                                            class="mat-checkbox-label"> نقدا</span></mat-radio-button>
                                    <mat-radio-button labelPosition="before" value="ALI"><span
                                            class="mat-checkbox-label"> اجل</span></mat-radio-button>
                                </mat-radio-group>
                            </fieldset>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> عنونه </mat-label>
                                    <input type="number" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>
                        </div>
                        <div class="col-sm-6 col-sm-pull-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> الرمز البريدي </mat-label>
                                    <input type="text" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> المدينه </mat-label>
                                    <input type="number" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>
                        </div>
                        <div class="col-sm-6 co col-sm-pull-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> الدوله </mat-label>
                                    <input type="number" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> البريد الالكتروني </mat-label>
                                    <input type="number" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>
                        </div>
                        <div class="col-sm-6 co col-sm-pull-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> الموقع على الانترنت </mat-label>
                                    <input type="number" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>

                        </div>

                    </div>


                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> رقم التلفون </mat-label>
                                    <input type="number" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>
                        </div>
                        <div class="col-sm-6 col-sm-pull-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> رقم الفاكس </mat-label>
                                    <input type="number" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <mat-card>
                                <mat-form-field>
                                    <mat-select placeholder="     مستوى التسعيره  ">

                                    </mat-select>

                                </mat-form-field>
                            </mat-card>

                        </div>
                        <div class="col-sm-6 col-sm-pull-6">
                            <mat-card>
                                <mat-form-field>
                                    <mat-select placeholder="     رقم التحصيل  ">

                                    </mat-select>

                                </mat-form-field>
                            </mat-card>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> حدد الديون </mat-label>
                                    <input type="number" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>
                        </div>
                        <div class="col-sm-6 col-sm-pull-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> نسبه الخصم </mat-label>
                                    <input type="number" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> رقم المنطقه </mat-label>
                                    <input type="number" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>
                        </div>
                        <div class="col-sm-6 co col-sm-pull-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> اسم المنطقه </mat-label>
                                    <input type="text" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> رقم المندوب </mat-label>
                                    <input type="number" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>
                        </div>
                        <div class="col-sm-6 col-sm-pull-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> اسم المندوب </mat-label>
                                    <input type="text" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> بدايه التعامل </mat-label>
                                    <input type="date" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>
                        </div>
                        <div class="col-sm-6 col-sm-pull-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> نهايه التعامل </mat-label>
                                    <input type="date" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> فتره الائتمان </mat-label>
                                    <input type="text" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>
                        </div>
                        <div class="col-sm-6 col-sm-pull-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> رقم ملف العميل </mat-label>
                                    <input type="number" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> الرقم الضريبي 1 </mat-label>
                                    <input type="number" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>
                        </div>
                        <div class="col-sm-6 co col-sm-pull-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> الرقم الضريبي 2 </mat-label>
                                    <input type="text" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> السجل التجاري </mat-label>
                                    <input type="number" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>
                        </div>
                        <div class="col-sm-6 co col-sm-pull-6">
                            <mat-checkbox labelPosition="after"> <span style="margin-right: 5px;"
                                    class="mat-checkbox-label"> ايقاف العميل</span> </mat-checkbox>
                            <mat-checkbox labelPosition="after"> <span style="margin-right: 5px;"
                                    class="mat-checkbox-label">تثبيت السعر </span> </mat-checkbox>


                        </div>

                    </div>

                </div>
            </mat-tab>

            <mat-tab label="العمليات">
                <div class="mat-tab-body-wrapper align-right">

                    <mat-card>
                        <mat-form-field appearance="fill">
                            <mat-label> الرصيد الافتتاحي </mat-label>
                            <input type="number" matInput placeholder="Placeholder">

                        </mat-form-field>
                    </mat-card>
                    <mat-card>
                        <mat-form-field appearance="fill">
                            <mat-label> اجمالي المدين </mat-label>
                            <input type="number" matInput placeholder="Placeholder">

                        </mat-form-field>
                    </mat-card>
                    <mat-card>
                        <mat-form-field appearance="fill">
                            <mat-label> احمالي الدائن </mat-label>
                            <input type="number" matInput placeholder="Placeholder">

                        </mat-form-field>
                    </mat-card>
                    <mat-card>
                        <mat-form-field appearance="fill">
                            <mat-label> الرصيد الحالي </mat-label>
                            <input type="number" matInput placeholder="Placeholder">

                        </mat-form-field>
                    </mat-card>

                </div>
            </mat-tab>
            <mat-tab label="الاحصائيات">
                <div class="mat-tab-body-wrapper align-right">

                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> اعلى مبلغ دفعه العميل </mat-label>
                                    <input type="number" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>
                        </div>
                        <div class="col-sm-6 col-sm-pull-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> التاريخ </mat-label>
                                    <input type="date" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> اعلى قيمه للفاتوره </mat-label>
                                    <input type="number" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>
                        </div>
                        <div class="col-sm-6 col-sm-pull-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> التاريخ </mat-label>
                                    <input type="date" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> قيمه اخر فاتوره </mat-label>
                                    <input type="number" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>
                        </div>
                        <div class="col-sm-6 col-sm-pull-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> التاريخ </mat-label>
                                    <input type="date" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> اعلى خصم اعطي له </mat-label>
                                    <input type="number" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>
                        </div>
                        <div class="col-sm-6 col-sm-pull-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> التاريخ </mat-label>
                                    <input type="date" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> اخر دفعه دفعها العميل </mat-label>
                                    <input type="number" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>
                        </div>
                        <div class="col-sm-6 col-sm-pull-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> التاريخ </mat-label>
                                    <input type="date" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> اخر تاريخ بيع له </mat-label>
                                    <input type="date" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>
                        </div>
                        <div class="col-sm-6 col-sm-pull-6">
                            <mat-card>
                                <mat-form-field appearance="fill">
                                    <mat-label> اخر تاريخ استلام منه </mat-label>
                                    <input type="date" matInput placeholder="Placeholder">

                                </mat-form-field>
                            </mat-card>

                        </div>

                    </div>

                    <button mat-raised-button>طباعه الاحصائيات</button>
                </div>

           
           
            </mat-tab>
            
          
        </mat-tab-group>
    </mat-card-content>
    <mat-card-actions>
            <button mat-raised-button color="warn">حفظ</button>
            <button mat-raised-button>تراجع</button>
            <button mat-raised-button>الغاء</button>
            <button mat-raised-button>حذف</button>
            <button mat-raised-button>تعديل</button>
            <button mat-raised-button>بحث</button>
            <button mat-raised-button>إضافة</button>
            <button mat-raised-button>إغلاق</button>
    </mat-card-actions>
</mat-card>