<mat-card dir="rtl">
        <mat-card-header>
            <div mat-card-avatar>avatar</div>
            <mat-card-title>مجموعات الحسابات </mat-card-title>
            <mat-card-subtitle>تهيئة النظام</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="container">
                <mat-form-field >
                  
                    <input matInput  type="text"  
                        placeholder="رمز المجموعه"
                        required minlength="2" maxlength="32"
                        />
                        
                </mat-form-field>
                <mat-form-field >
                  
                    
                        <input matInput  type="text"  
                        placeholder="الأســـم"
                        required minlength="2" maxlength="32"
                        />
                </mat-form-field>
                <mat-checkbox ><span >المــــســــاهمين</span></mat-checkbox>
                
            </div>
        </mat-card-content>
        <div class="container">
            <mat-card-actions>
                <div class="row">
  <div class="col-sm-12">
        <button mat-raised-button color="warn">حفظ</button>
        <button mat-raised-button>تراجع</button>
        <button mat-raised-button >الغاء</button>
        <button mat-raised-button>تعديل</button>
        <button mat-raised-button >بحث</button>
        <button mat-raised-button>إضافة</button>
        <button mat-raised-button >إغلاق</button>
        

  </div>

                </div>
              
                </mat-card-actions>
        </div>
    </mat-card>
    
    