<mat-card dir="rtl">
    <mat-card-header>
      <div mat-card-avatar>avatar</div>
      <mat-card-title>   فواتير المشتريات </mat-card-title>
      <mat-card-subtitle> التقارير</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-card>
        <div class="row">
          <div class="col-sm-6 col-sm-push-6">
            <fieldset>
              
                <mat-card>
                  <mat-radio-button
                    value="val"
                  >
                     يوم
                  </mat-radio-button>
                  <mat-radio-button
                  value="val"
                >
                   فتره
                </mat-radio-button>
                <mat-radio-button
                value="val"
              >
                 مستند
              </mat-radio-button>
            
                </mat-card>
              </fieldset>
          </div>
          <div class="col-sm-6 col-sm-pull-6">

            <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label>  تاريخ</mat-label>
                  <input type="date" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
       
          </div>

        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-push-6">
              <fieldset>
                
                  <mat-card>
                    <mat-radio-button
                      value="val"
                    >
                       سندات مرحله
                    </mat-radio-button>
                    <mat-radio-button
                    value="val"
                  >
                     سندات غير مرحله
                  </mat-radio-button>
                
              
                  </mat-card>
                </fieldset>
            </div>
            <div class="col-sm-6 col-sm-pull-6">
  
                <mat-card>
                    <mat-form-field>
                      <mat-label>  نوع التقرير </mat-label>
  
                      <mat-select placeholder=" ">
                        <mat-option> </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </mat-card>
            </div>
            
          </div>

      </mat-card>
    </mat-card-content>
    <div class="container">
      <mat-card-actions>
        <div class="row">
          <div class="col-sm-12">
            <button mat-raised-button color="warn">خروج</button>
            <button mat-raised-button>طباعه</button>
          </div>
        </div>
      </mat-card-actions>
    </div>
  </mat-card>
  