<mat-card dir="rtl">
  <mat-card-header>
    <div mat-card-avatar>avatar</div>
    <mat-card-title> بيانات المــــــوردين</mat-card-title>
    <mat-card-subtitle> المشتـــريات</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-card>
      <div class="row">
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> رقم المجموعة</mat-label>
              <input type="number" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> الى</mat-label>
              <input type="number" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> رقم المجموعة</mat-label>
              <input type="input" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> الى</mat-label>
              <input type="input" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> رقم المورد </mat-label>
              <input type="input" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> رقم حساب المورد</mat-label>
              <input type="input" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label>  الأسم الاجنبي للمورد</mat-label>
              <input type="input" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> الأسم العربي للمورد</mat-label>
              <input type="input" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label>  عنوانة</mat-label>
              <input type="input" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label>  المدينة</mat-label>
              <input type="input" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label>  صندوق البريد</mat-label>
              <input type="input" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> الدولة</mat-label>
              <input type="input" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label>  رقم التلفون</mat-label>
              <input type="number" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> رقم الفاكس</mat-label>
              <input type="number" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label>  عن طريق</mat-label>
              <input type="input" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> العدد الأعلى للديون</mat-label>
              <input type="number" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label>  اخر تاريخ شراء منة</mat-label>
              <input type="date" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> اخر تاريخ دفع لة</mat-label>
              <input type="date" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label>  الرقم الضريبي</mat-label>
              <input type="number" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> الرقم الضريبي 2</mat-label>
              <input type="number" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label>  فترة الأئتمان</mat-label>
              <input type="input" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> السجل التجاري</mat-label>
              <input type="input" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
      </div>


    </mat-card>

    <mat-card>
      <mat-card-actions>
        <button mat-raised-button color="warn">حفظ</button>
        <button mat-raised-button color="warn">إضافة</button>
        <button mat-raised-button color="warn">بحث</button>
        <button mat-raised-button color="warn">الغاء</button>
        <button mat-raised-button color="warn">تعديل</button>

      </mat-card-actions>
    </mat-card>
  </mat-card-content>
</mat-card>
