<mat-card dir="rtl">
    <mat-card-header>
        <div mat-card-avatar>avatar</div>
        <mat-card-title>  انواع القيود اليوميه </mat-card-title>
        <mat-card-subtitle>تهيئة النظام</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="container">
            <mat-form-field >
              
                <input matInput  type="text"  
                    placeholder=" حساب فروق عمله"
                    required minlength="2" maxlength="32"
                    />
                    
            </mat-form-field>
            <mat-form-field >
              
                
                    <input matInput  type="text"  
                    placeholder="حساب التسعيره"
                    required minlength="2" maxlength="32"
                    />
            </mat-form-field>
           
            <mat-form-field >
              
                
                <input matInput  type="text"  
                placeholder="الاصناف المفقوده "
                required minlength="2" maxlength="32"
                />
        </mat-form-field>

        <mat-form-field >
              
                
            <input matInput  type="text"  
            placeholder=" اوراق القبض"
            required minlength="2" maxlength="32"
            />
    </mat-form-field>

    <mat-form-field >
              
                
        <input matInput  type="text"  
        placeholder=" اوراق الدفع"
        required minlength="2" maxlength="32"
        />
</mat-form-field>
<mat-form-field >
              
                
    <input matInput  type="text"  
    placeholder="مقبوظات قيد الاستحقاق "
    required minlength="2" maxlength="32"
    />
</mat-form-field>
<mat-form-field >
              
                
    <input matInput  type="text"  
    placeholder=" مصروفات قيد الاستحقاق"
    required minlength="2" maxlength="32"
    />
</mat-form-field>
<mat-form-field >
              
                
    <input matInput  type="text"  
    placeholder=" عموله المندوبين"
    required minlength="2" maxlength="32"
    />
</mat-form-field>
<mat-form-field >
              
                
    <input matInput  type="text"  
    placeholder="VATحساب ظريبه ال"
    required minlength="2" maxlength="32"
    />
</mat-form-field>
<mat-form-field >
              
                
    <input matInput  type="text"  
    placeholder="حساب بطاقه الائتمان"
    required minlength="2" maxlength="32"
    />
</mat-form-field>






   
            
        </div>
    </mat-card-content>
    <div class="container">
        <mat-card-actions>
            <div class="row">
                <div class="col-sm-12">
                        <button mat-raised-button color="warn">حفظ</button>
            
                        <button mat-raised-button >إغلاق</button>
                </div>
            </div>
           
            
            </mat-card-actions>
    </div>
</mat-card>

