<mat-card dir="rtl">
    <mat-card-header>
      <div mat-card-avatar>avatar</div>
      <mat-card-title> تقارير  ارصده العملاء</mat-card-title>
      <mat-card-subtitle> التقارير</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-card style="margin-bottom: 50px;">
      <div class="row">
        <div class="col-sm-6 col-sm-push-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> من تاريخ</mat-label>
              <input type="date" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> الى تاريخ </mat-label>
              <input type="date" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
  
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-push-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> من رقم العميل</mat-label>
              <input type="number" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> الى</mat-label>
              <input type="number" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 ">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> اسم العميل</mat-label>
              <input type="text" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-sm-push-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> من رقم الحساب</mat-label>
              <input type="number" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> الى </mat-label>
              <input type="number" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
      </div>
  
      <div class="row">
        <div class="col-sm-6 col-sm-push-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> من رقم المناقصه</mat-label>
              <input type="number" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> الى</mat-label>
              <input type="number" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
      </div>
     
      <div class="row">
        <div class="col-sm-12 ">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> اسم الحساب</mat-label>
              <input type="text" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
      </div>
      
  
      <div class="row">
        <div class="col-sm-6 col-sm-push-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> من رقم المنطقه</mat-label>
              <input type="number" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> الى</mat-label>
              <input type="number" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-push-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> من رقم مندوب</mat-label>
              <input type="number" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> الى</mat-label>
              <input type="number" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-push-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> من  مجموعه حساب</mat-label>
              <input type="number" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> الى</mat-label>
              <input type="number" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-push-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> من  نوع عميل</mat-label>
              <input type="number" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> الى</mat-label>
              <input type="number" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-sm-push-6">
          <mat-card>
            <mat-select placeholder="  طريق الدفع   ">
              <mat-option [value]="'val'"></mat-option>
            </mat-select>
          </mat-card>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
          <mat-card>
            <mat-checkbox style="display: block;" value="" color="primary">
                 العملاء الموقفين
              </mat-checkbox>
          </mat-card>
        </div>
      </div>
        </mat-card>
      
        <div class="row">
            <div class="col-sm-12 ">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label>  العمله</mat-label>
                  <input type="text" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
          </div>

    <mat-card>
      <div class="row">
        <div class="col-sm-6 col-sm-push-6">
            <fieldset>
                <legend> نوع التقرير </legend>
                <mat-card>
                  <mat-radio-button value="val">ارصده افتتاحيه</mat-radio-button>
                  <mat-radio-button value="val">ارصده مدينه</mat-radio-button>
                  <mat-radio-button value="val">ارصده دائنه</mat-radio-button>  
                  <mat-radio-button value="val">الرصيد الحالي مع الافتتاحي</mat-radio-button>
                  <mat-radio-button value="val">الكل</mat-radio-button>
                  <mat-radio-button value="val">كشف تحليلي  لحركه العميل</mat-radio-button>
                </mat-card>
              </fieldset>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
            <fieldset>
                <legend> الترتيب حسب</legend>
                <mat-card>
                    <mat-radio-button value="val"> رقم العميل</mat-radio-button>
                    <mat-radio-button value="val"> رقم المنطقه</mat-radio-button>
                    <mat-radio-button value="val"> رقم المجموعه</mat-radio-button>  
                    <mat-radio-button value="val">   رقم نوع العميل</mat-radio-button>
                    <mat-radio-button value="val">رقم المندوب</mat-radio-button>
                     </mat-card>
         
       
           
            
            <mat-checkbox style="display: block;" value="" color="primary">
                   اظهار ارصده العملاءالصفريه من الارصده  
           </mat-checkbox>
           <mat-checkbox style="display: block;" value="" color="primary">
اظهار ارصده العملاء الصفريه فقط

</mat-checkbox>
    
         
        </fieldset>
          </div>
      </div>
  </mat-card>
    </mat-card-content>
  
    <mat-card-actions>
      <mat-card>
        <button mat-raised-button color="warn">طبــــاعة</button>
        <button mat-raised-button color="warn">تقـــرير بياني</button>
      </mat-card>
    </mat-card-actions>
  </mat-card>
  
