<mat-card dir="rtl">
    <mat-card-header>
      <div mat-card-avatar>avatar</div>
      <mat-card-title>     الانحراف الميزاني</mat-card-title>
      <mat-card-subtitle> التقارير</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-card style="margin-bottom:30px;">
        <div class="row">
          <div class="col-sm-7 col-sm-push-5">
            <fieldset>
                <legend> نوع التقرير </legend>
               
                    <mat-card>
                      <mat-radio-button value="val"> حسب مراكز التكلفه</mat-radio-button>
                      <mat-radio-button value="val"> حسب ارقام الحسابات</mat-radio-button>
                      <mat-radio-button value="val"> ترتيب المراكز والحسابات</mat-radio-button>
                      <mat-radio-button value="val"> ترتيب الحسابات والمراكز</mat-radio-button>

                    </mat-card>
            </fieldset>
                 
           
          </div>
          <div class="col-sm-5 col-sm-pull-7">
            <fieldset>
                <legend> نوع الحساب </legend>
            <mat-card>
                <mat-radio-button value="val"> فرعي </mat-radio-button>
                <mat-radio-button value="val"> رئسي</mat-radio-button>
                <mat-radio-button value="val"> كلي</mat-radio-button>

            </mat-card>
            </fieldset>
          </div>
        </div>
  
        <fieldset>
            <legend>  خيارات التقرير </legend>
     <mat-card>
        <mat-card>
            
            <mat-form-field appearance="fill">
              <mat-label> الشهر</mat-label>
              <input type="text" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
     
        <div class="row">
            <div class="col-sm-6 col-sm-push-6">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> من حساب </mat-label>
                  <input type="number" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
            <div class="col-sm-6 col-sm-pull-6">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> الى حساب </mat-label>
                  <input type="number" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 ">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> اسم الحساب</mat-label>
                  <input type="text" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
          </div>
        <div class="row">
          <div class="col-sm-6 col-sm-push-6">
            <mat-card>
              <mat-label>من المركز</mat-label>
              <mat-select placeholder="     ">
                <mat-option [value]="'val'"></mat-option>
              </mat-select>
            </mat-card>
          </div>
          <div class="col-sm-6 col-sm-pull-6">
            <mat-card>
              <mat-label>الى المركز</mat-label>
              <mat-select placeholder="     ">
                <mat-option [value]="'val'"></mat-option>
              </mat-select>
            </mat-card>
          </div>
        </div>
      
        
  
    </mat-card>
    
        </fieldset>
 

        <mat-form-field appearance="fill">
            <mat-label> تذبيل التقرير</mat-label>
  
            <textarea  matInput required placeholder=""></textarea>
          </mat-form-field>
       
      </mat-card>
  
    </mat-card-content>
  
    <mat-card-actions>
      <mat-card>
        <button mat-raised-button color="warn">طبــــاعة</button>
        <button mat-raised-button color="warn">تقـــرير بياني</button>
      </mat-card>
    </mat-card-actions>
  </mat-card>
  
