<mat-card dir="rtl">
    <mat-card-header>
        <div mat-card-avatar>avatar</div>
        <mat-card-title>   بيانات المناطق </mat-card-title>
        <mat-card-subtitle> المدخلات الاساسيه</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

        <mat-card >

                    <mat-card>
                        <mat-form-field appearance="fill">
                            <mat-label>  رقم المنطقه</mat-label>
                            <input type="number" matInput placeholder="Placeholder">

                        </mat-form-field>
                    </mat-card>

                    <mat-card>
                        <mat-form-field appearance="fill">
                            <mat-label> اسم المدينه </mat-label>
                            <input type="text" matInput placeholder="Placeholder">

                        </mat-form-field>
                    </mat-card>
                    <mat-card>
                        <mat-form-field appearance="fill">
                            <mat-label>  الدوله </mat-label>
                            <input type="text" matInput placeholder="Placeholder">

                        </mat-form-field>
                    </mat-card>
                    <mat-card>
                        <mat-form-field appearance="fill">
                            <mat-label>  اسم المنطقه بالعربي </mat-label>
                            <input type="text" matInput placeholder="Placeholder">

                        </mat-form-field>
                    </mat-card>

                    <mat-card>
                        <mat-form-field appearance="fill">
                            <mat-label>  اسم المنطقه بالاجنبي </mat-label>
                            <input type="text" matInput placeholder="Placeholder">

                        </mat-form-field>
                    </mat-card>

              
           

        </mat-card>




    </mat-card-content>
    <mat-card-actions>
        <div class="row">
            <div class="col-sm-12">
                <button mat-raised-button color="warn">حفظ</button>
                <button mat-raised-button>تراجع</button>
                <button mat-raised-button>الغاء</button>
                <button mat-raised-button>حذف</button>
                <button mat-raised-button>تعديل</button>
                <button mat-raised-button>بحث</button>
                <button mat-raised-button>إضافة</button>
                <button mat-raised-button>إغلاق</button>

            </div>
        </div>
    </mat-card-actions>

</mat-card>