<mat-card dir="rtl">
  <mat-card-header class="text-right">
    <div mat-card-avatar>avatar</div>
    <mat-card-title>المتغــيرات</mat-card-title>
    <mat-card-subtitle>تهيئة النظام</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group dir="ltr" mat-align-tabs="end">
      <mat-tab label="أســـاسية"  >
       <div class="mat-tab-body-wrapper">
        <fieldset>
          <legend>حساب التكلفة</legend>
        <mat-radio-group >
          <mat-radio-button labelPosition="before" value="SUFYAN"><span class="mat-checkbox-label">الوارد أولاً الصادر أولاً</span></mat-radio-button>
          <mat-radio-button labelPosition="before" value="ALI"><span class="mat-checkbox-label">المتوسط المرجح</span></mat-radio-button>
          <mat-radio-button labelPosition="before" value="HATEM"><span class="mat-checkbox-label">الوارد اخراً الصادر أولاً</span></mat-radio-button>
         </mat-radio-group>
         </fieldset>

  
  
    <fieldset>
      <legend></legend>
    <mat-checkbox labelPosition="before" > <span style="margin-right: 5px;" class="mat-checkbox-label"> عدم إستخدام التكاليف </span> </mat-checkbox>
    <mat-checkbox labelPosition="before" > <span style="margin-right: 5px;" class="mat-checkbox-label">السماح بكميات سالبة</span> </mat-checkbox>
    <mat-checkbox labelPosition="before" > <span style="margin-right: 5px;" class="mat-checkbox-label"> إستخدام الصنف المركب</span></mat-checkbox>
    <mat-checkbox labelPosition="before" > <span style="margin-right: 5px;" class="mat-checkbox-label">تعدد الوحدات المخزنية</span> </mat-checkbox>
    <mat-checkbox labelPosition="before" > <span style="margin-right: 5px;" class="mat-checkbox-label">إستخدام حساب وسيط أجور نقل</span> </mat-checkbox>
     </fieldset>

         
       </div>
      </mat-tab>

      <mat-tab label="عـــامة">
        <div class="mat-tab-body-wrapper align-right">
          <mat-checkbox labelPosition="before" > <span style="margin-right: 5px;" class="mat-checkbox-label"> إخفاء أعمدة التكاليف في أمر الصرف </span> </mat-checkbox>
          <mat-checkbox labelPosition="before" > <span style="margin-right: 5px;" class="mat-checkbox-label">استخدام نسبة التخفيض الثانية للصنف</span> </mat-checkbox>
          <mat-checkbox labelPosition="before" > <span style="margin-right: 5px;" class="mat-checkbox-label"> التعامل مع الحد الأدنى والأعلى لسعر البيع</span></mat-checkbox>
          <mat-checkbox labelPosition="before" > <span style="margin-right: 5px;" class="mat-checkbox-label">إظهار سعر البيع في التحويل المخزني</span> </mat-checkbox>
          <mat-checkbox labelPosition="before" > <span style="margin-right: 5px;" class="mat-checkbox-label">السماح بحذف الصنف مع التسعيرة</span> </mat-checkbox>
          <mat-checkbox labelPosition="before" > <span style="margin-right: 5px;" class="mat-checkbox-label">إظهار تكلفة الصنف اليا في التوريد المخزني</span> </mat-checkbox>
          <mat-checkbox labelPosition="before" > <span style="margin-right: 5px;" class="mat-checkbox-label">التحديث الا لي لأسعار الأصناف في بيانات التوريد</span> </mat-checkbox>
          <mat-checkbox labelPosition="before" > <span style="margin-right: 5px;" class="mat-checkbox-label">إحتساب تكلفة الجزئي في امر التوريد</span> </mat-checkbox>
          <mat-checkbox labelPosition="before" > <span style="margin-right: 5px;" class="mat-checkbox-label">التخصيم من اقدم تاريخ إنتهاء عند الترحيل من نظام الباركود</span> </mat-checkbox>
          <mat-checkbox labelPosition="before" > <span style="margin-right: 5px;" class="mat-checkbox-label">مراقبة عدد مرات الطباعة في العمليات المخزنية</span> </mat-checkbox>
          
        </div>
        
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <mat-card-actions >
    <button mat-raised-button color="primary" >حفـــظ</button>
    <button mat-raised-button >الغاء</button>
    </mat-card-actions>
</mat-card>