<mat-card dir="rtl">
  <mat-card-header>
    <div mat-card-avatar>avatar</div>
    <mat-card-title> الخيارات العامة</mat-card-title>
    <mat-card-subtitle> إدارة النظام</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-card>
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <mat-card>
                <mat-card-subtitle> مركز التكلفة</mat-card-subtitle>
                <hr />
              <div class="col-sm-6">
               
                   
                    <mat-radio-button value="إختياري"
                      >إختياري</mat-radio-button
                    >
                    <mat-radio-button value="إجباري"
                      >إجباري</mat-radio-button
                    >
                 
              </div>

              <div class="col-sm-6">
               
                   
                <mat-radio-button value="حسابات الأرباح والخسائر"
                  >حسابات الأرباح والخسائر</mat-radio-button
                >
                <mat-radio-button value="غير مستخدم"
                  >غير مستخدم</mat-radio-button
                >
             
          </div>
              </mat-card>
          </div>
          <div class="row">
            <mat-card>
                <mat-card-subtitle>  تنبية بالنسخة الإحتياطية كل</mat-card-subtitle>
                <hr />
              <div class="col-sm-6">
               
                   
                    <mat-radio-button value="مرة"
                      >مرة</mat-radio-button
                    >
                    <mat-radio-button value="إسبوع"
                      >إسبوع</mat-radio-button
                    >
                 
              </div>

              <div class="col-sm-6">
               
                   
                <mat-radio-button value="يوم"
                  >يوم</mat-radio-button
                >
                <mat-radio-button value="شهر"
                  >شهر</mat-radio-button
                >
                <mat-radio-button value="عدم التنبية"
                  >عدم التنبية</mat-radio-button
                >
             
          </div>
              </mat-card>
          </div>
          <div class="row">
            <mat-card>
                <mat-card-subtitle>  التنبية عند</mat-card-subtitle>
                <hr />
              <div class="col-sm-6">
               
                   
                    <mat-radio-button value="دخول النظام"
                      >دخول النظام</mat-radio-button
                    >
                   
                 
              </div>

              <div class="col-sm-6">
               
                   
                <mat-radio-button value="الخروج منة"
                  >الخروج منة</mat-radio-button
                >
                
             
          </div>
              </mat-card>
          </div>

          <div class="row">
            <mat-card>
                
              <div class="col-sm-12">
               
                   
                    <mat-checkbox [(ngModel)]="model">إظهار شاشات التنبيهات عند تشغيل النظام</mat-checkbox>
                    <mat-checkbox [(ngModel)]="model">اخفاء المتصفح من واجهات النظام الرئيسية</mat-checkbox>
                 
              </div>

             
              </mat-card>
          </div>

          <div class="row">
            <mat-card>
                
              <div class="col-sm-12">
               
                   
                  <mat-card>
                    <mat-select placeholder="لون الخط في النظام">
                        <mat-option [value]="'val'">{{val}}</mat-option>
                    </mat-select>
                  </mat-card>

                   <mat-card>
                    <mat-select placeholder="اللغة الإفتراضية للنظام">
                        <mat-option [value]="'val'">{{val}}</mat-option>
                    </mat-select>
                   </mat-card>

              </div>

             
              </mat-card>
          </div>

        </div>
<div class="row">

    <div class="col-sm-6">
        <mat-card>
          <hr />
          <mat-checkbox [(ngModel)]="model"
            >إمكانية إلغاء الإقفال السنوي</mat-checkbox
          >
          <mat-checkbox [(ngModel)]="model"
            >عدم إستخدام ميزة إلغاء الترحيل</mat-checkbox
          >
          <mat-checkbox [(ngModel)]="model"
            >التعامل مع التاريخ الهجري</mat-checkbox
          >
          <mat-checkbox [(ngModel)]="model"
            >تثبيت تاريخ المستندات</mat-checkbox
          >

          <mat-checkbox [(ngModel)]="model">إمكانية تعديل ارقام المستندات</mat-checkbox>
          <mat-checkbox [(ngModel)]="model">إستخدام الرقم التسلسلي</mat-checkbox>
          <mat-checkbox [(ngModel)]="model">إستخدام تواريخ الإنتهاء</mat-checkbox>
          <mat-checkbox [(ngModel)]="model">إستخدام قيمة الضريبة المضافة</mat-checkbox>
          <mat-checkbox [(ngModel)]="model">ترحيل عمولات المندوبين</mat-checkbox>
          <mat-checkbox [(ngModel)]="model">استخدام مراكز البيع</mat-checkbox>
          <mat-checkbox [(ngModel)]="model">أستخدام نظام الصيدليات</mat-checkbox>
          <mat-checkbox [(ngModel)]="model">استخدام بطائق التأمين الصحي</mat-checkbox>
          <mat-checkbox [(ngModel)]="model">استخدام نظام المقاسات </mat-checkbox>
          <mat-checkbox [(ngModel)]="model">تنبية بالشيكات المستحقة</mat-checkbox>
        </mat-card>
      </div>
</div>

        <div class="row">
            <mat-card>
                
              <div class="col-sm-12">
               
                   
                  <mat-card>
                    <mat-card-subtitle>  التخفيض في المشتريات الفورية</mat-card-subtitle>
                    <hr>
                        <mat-radio-button value="تخفض من التكلفة">تخفض من التكلفة</mat-radio-button>
                        	<mat-radio-button value="تدخل كأيراد">تدخل كأيراد</mat-radio-button>
                  </mat-card>

                   
              </div>

             
              </mat-card>
          </div>
      </div>
    </mat-card>

    <mat-card>
      <mat-card-actions>
        <button mat-raised-button color="warn">حفـــظ</button>
      </mat-card-actions>
    </mat-card>
  </mat-card-content>
</mat-card>
