mat-radio-button 
{
direction: rtl;
margin-right: 10px;
}
mat-checkbox {
    display: block;
    direction: rtl;
}

.mat-checkbox-label {
    line-height: 24px;
   margin-right: 5px;
  
    
}

mat-tab{
    padding: 30px;
  
}
.mat-tab-labels {
    display: flex;
    flex-flow: row-reverse;
    
}

fieldset{
    margin-bottom: 20px;
   direction: rtl;
    text-align: end;
}

.mat-tab-body-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 30px;
    
}
mat-card-actions {
    margin: 10px;
}
mat-select
{direction: rtl;

}
mat-card
{
    margin-top: 30px;
}

table
{
    width: 100%;
}


