mat-radio-button {
    display: block;
}
mat-checkbox {
    display: block;
}

.mat-checkbox-label {
    line-height: 24px;
   margin-right: 5px;
  
    
}

mat-tab{
    padding: 30px;
  
}
.mat-tab-labels {
    display: flex;
    flex-flow: row-reverse;
    
}

fieldset{
    margin-bottom: 20px;
    margin-left: auto;
    text-align: end;
}

.mat-tab-body-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 30px;
    
}
mat-card-actions {
    margin: 10px;
}



table {
    width: 100%;
  }

  mat-card{
    padding: 10px;
    margin-bottom: 10px;
    direction: rtl;
  }
  mat-radio-button{
      margin-left: 30px;
      margin-right:30px ;
  }