<mat-card dir="rtl">
    <mat-card-header>
      <div mat-card-avatar>avatar</div>
      <mat-card-title>    موازين المراجعه</mat-card-title>
      <mat-card-subtitle> التقارير</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-card style="margin-bottom:30px;">
        <div class="row">
          <div class="col-sm-8 col-sm-push-4">
           
               
                  
                    <mat-card>
                      <mat-radio-button value="val"> فرعي</mat-radio-button>
                      <mat-radio-button value="val"> رئسي</mat-radio-button>
                      <mat-radio-button value="val"> كلي</mat-radio-button>
                      <mat-radio-button value="val"> رتبه</mat-radio-button>

                    </mat-card>
                 
           
          </div>
          <div class="col-sm-4 col-sm-pull-8">
            <mat-card>
                <mat-radio-button value="val"> شهري</mat-radio-button>
                <mat-radio-button value="val"> فتري</mat-radio-button>

            </mat-card>
          </div>
        </div>
  
     <mat-card>
        <div class="row">
            <div class="col-sm-6 col-sm-push-6">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> من حساب رقم</mat-label>
                  <input type="number" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
            <div class="col-sm-6 col-sm-pull-6">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> الى حساب رقم</mat-label>
                  <input type="number" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 ">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> اسم الحساب</mat-label>
                  <input type="text" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
          </div>
        <div class="row">
          <div class="col-sm-6 col-sm-push-6">
            <mat-card>
              <mat-label>من المركز</mat-label>
              <mat-select placeholder="     ">
                <mat-option [value]="'val'"></mat-option>
              </mat-select>
            </mat-card>
          </div>
          <div class="col-sm-6 col-sm-pull-6">
            <mat-card>
              <mat-label>الى المركز</mat-label>
              <mat-select placeholder="     ">
                <mat-option [value]="'val'"></mat-option>
              </mat-select>
            </mat-card>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-push-6">
              <mat-card>
                <mat-label>المجموعه</mat-label>
                <mat-select placeholder="     ">
                  <mat-option [value]="'val'"></mat-option>
                </mat-select>
              </mat-card>
            </div>
            <div class="col-sm-6 col-sm-pull-6">
              <mat-card>
            
                    <mat-form-field appearance="fill">
                      <mat-label> الشهر</mat-label>
                      <input type="text" matInput placeholder="Placeholder" />
                    </mat-form-field>
                  </mat-card>
             
            </div>
          </div>

  
    </mat-card>
    

    <mat-card>
        <fieldset>
        <legend> نوع التقرير </legend>
        <div class="row">
          <div class="col-sm-6 col-sm-push-6">
              
                
                  <mat-card>
                    <mat-radio-button value="val" style="display: block;margin-top: 10px;
                    ">ارصده بالعمله المحليه</mat-radio-button>
                    <mat-radio-button value="val" style="display: block; margin-top: 10px;
                    ">ارصده بالعمله المحليه والعمله الاجنبيه</mat-radio-button>
                    <mat-radio-button value="val" style="display: block;margin-top: 10px;
                    ">  حركه الفتره بالعمله المحليه والعمله الاجنبيه</mat-radio-button>  
                    <mat-radio-button value="val" style="display: block;margin-top: 10px;
                    ">   حركه الفتره بالعمله المحليه</mat-radio-button>
                    </mat-card>
              
          </div>
          <div class="col-sm-6 col-sm-pull-6">
              <fieldset>
                  <legend>  ترتيب التقرير</legend>
                 
                      <mat-radio-button value="val">  تصاعدي</mat-radio-button>
                      <mat-radio-button value="val">  تنازلي</mat-radio-button>
                   
           
         
             
           
      
           
          </fieldset>

          
    
        <mat-form-field appearance="fill">
          <mat-label> تذبيل التقرير</mat-label>

          <textarea cols="10" rows="5" matInput required placeholder=""></textarea>
        </mat-form-field>
    
            </div>
        </div>
    </fieldset>
    </mat-card>


       
      </mat-card>
  
    </mat-card-content>
  
    <mat-card-actions>
      <mat-card>
        <button mat-raised-button color="warn">طبــــاعة</button>
        <button mat-raised-button color="warn">تقـــرير بياني</button>
      </mat-card>
    </mat-card-actions>
  </mat-card>
  