<mat-card dir="rtl">
    <mat-card-header>
        <div mat-card-avatar>avatar</div>
        <mat-card-title>بيــــانات الأصنـــاف</mat-card-title>
        <mat-card-subtitle>المدخـــلات الأساسية</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
       <mat-tab-group mat-align-tabs="end" dir="ltr">
           <mat-tab label=" دليل الأصناف">
            <div class="col-sm-6" style="padding: 16px;">
                <mat-card>
                    <mat-form-field appearance="fill" dir="rtl">
                        <mat-label>رقم المجموعة </mat-label>
                        <input type="number" matInput placeholder="ادخل الرقم">
                        
                        
                      </mat-form-field>
                      <mat-checkbox dir="rtl">رقم الباركود</mat-checkbox>
    
                      <mat-form-field appearance="fill">
                        <mat-label>رقم الصنف</mat-label>
                        <input type="number" matInput placeholder="Placeholder">
                        
                        
                      </mat-form-field>
    
                      <mat-form-field>
                        <mat-select placeholder="نوع الصنف" dir="rtl">
                            <mat-option value="">ٍkjsdkfjds</mat-option>
                            <mat-option value="">ٍkjsdkfjds</mat-option>
                            <mat-option value="">ٍkjsdkfjds</mat-option>
                            <mat-option value="">ٍkjsdkfjds</mat-option>
                        </mat-select>
                      </mat-form-field>
    
                     <mat-form-field>
                        <mat-select placeholder=" وحدة القياس" dir="rtl">
                            <mat-option value="">ٍkjsdkfjds</mat-option>
                            <mat-option value="">ٍkjsdkfjds</mat-option>
                            <mat-option value="">ٍkjsdkfjds</mat-option>
                            <mat-option value="">ٍkjsdkfjds</mat-option>
                        </mat-select>
                     </mat-form-field>
    
                      <mat-form-field appearance="fill">
                        <mat-label>رقم  الصنف الرئيسي</mat-label>
                        <input matInput placeholder="Placeholder">
                        
                        
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>حد الطلب</mat-label>
                        <input matInput placeholder="Placeholder">
                        
                        
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label> رقم التصنيع</mat-label>
                        <input matInput placeholder="Placeholder">
                        
                        
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>رقم التوريد</mat-label>
                        <input matInput placeholder="Placeholder">
                        
                        
                      </mat-form-field>
                      <mat-card dir="rtl">
                        <mat-checkbox >الصنف محجوز</mat-checkbox>
                        <mat-checkbox >إستخدام الكميات المجانية في المبيعات</mat-checkbox>
                        <mat-checkbox >السماح بالتخفيض في المبيعات</mat-checkbox>
                        <mat-checkbox >إستخدام تواريخ الإنتهاء</mat-checkbox>
                        <mat-checkbox >ضريبة صنف</mat-checkbox>
                        <mat-checkbox >إيقاف الصنف</mat-checkbox>
                       
                    </mat-card>
                   </mat-card>

               </div>
               <div class="col-sm-6" style="padding: 16px;">
                <mat-card>
                 
                    <mat-form-field appearance="fill">
                        <mat-label>اسم المجموعة</mat-label>
                        <input matInput placeholder="Placeholder">
                        
                        
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label> اسمة العربي </mat-label>
                        <input matInput placeholder="Placeholder">
                        
                        
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>الأسم  العربي</mat-label>
                        <input matInput placeholder="Placeholder">
                        
                        
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>الأسم  الأجنبي</mat-label>
                        <input matInput placeholder="Placeholder">
                        
                        
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>  مواصفات الصنف</mat-label>
                        <input matInput placeholder="Placeholder">
                        
                        
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>  العبوة</mat-label>
                        <input matInput placeholder="Placeholder">
                        
                        
                      </mat-form-field>
    
                    
                    <mat-form-field appearance="fill">
                      <mat-label>  اسم العبوة</mat-label>
                      <input matInput placeholder="Placeholder">
                      
                      
                    </mat-form-field>
    
                      <mat-form-field appearance="fill">
                        <mat-label>  الحد الأدنى</mat-label>
                        <input matInput placeholder="Placeholder">
                        
                        
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>  الحد الأقصى</mat-label>
                        <input matInput placeholder="Placeholder">
                        
                        
                      </mat-form-field>
    
                      <mat-form-field appearance="fill">
                        <mat-label>   سعر البيع بعملة المخزون</mat-label>
                        <input matInput placeholder="Placeholder">
                        
                        
                      </mat-form-field>
                     
                   </mat-card>
               </div>
              
               

           </mat-tab>
           <mat-tab label=" المخــزون">
               
           </mat-tab>
           <mat-tab label=" التكاليف والأسعــار ">
             Content 2</mat-tab>
             <mat-tab label="  الموردين ">
                Content 2</mat-tab>
                <mat-tab label=" تقارير إحصائية ">
                    Content 2</mat-tab>
       </mat-tab-group>
      
    </mat-card-content>
    
    <div>
        <mat-card>
            <mat-card-actions>
                <button mat-raised-button color="warn">حفظ</button>
                <button mat-raised-button>تراجع</button>
                <button mat-raised-button >الغاء</button>
                <button mat-raised-button>تعديل</button>
                <button mat-raised-button >بحث</button>
                <button mat-raised-button>إضافة</button>
                <button mat-raised-button >إغلاق</button>
                
                </mat-card-actions>
        </mat-card>
    </div>
</mat-card>







