<mat-card dir="rtl">
    <mat-card-header>
      <div mat-card-avatar>avatar</div>
      <mat-card-title>  احصائيات ارصده الحسابات</mat-card-title>
      <mat-card-subtitle> التقارير</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-card>
            <div class="row">
              <div class="col-sm-6 col-sm-push-6">
                <mat-card>
                  <mat-form-field appearance="fill">
                    <mat-label>  من حساب رقم</mat-label>
                    <input type="number" matInput placeholder="Placeholder" />
                  </mat-form-field>
                </mat-card>
              </div>
              <div class="col-sm-6 col-sm-pull-6">
                <mat-card>
                  <mat-form-field appearance="fill">
                    <mat-label> الى حساب رقم</mat-label>
                    <input type="number" matInput placeholder="Placeholder" />
                  </mat-form-field>
                </mat-card>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 ">
                <mat-card>
                  <mat-form-field appearance="fill">
                    <mat-label> اسم الحساب</mat-label>
                    <input type="text" matInput placeholder="Placeholder" />
                  </mat-form-field>
                </mat-card>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 col-sm-push-6">
                <mat-card>
                  <mat-form-field appearance="fill">
                    <mat-label> للفتره من</mat-label>
                    <input type="date" matInput placeholder="Placeholder" />
                  </mat-form-field>
                </mat-card>
              </div>
              <div class="col-sm-6 col-sm-pull-6">
                <mat-card>
                  <mat-form-field appearance="fill">
                    <mat-label> الى </mat-label>
                    <input type="date" matInput placeholder="Placeholder" />
                  </mat-form-field>
                </mat-card>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 col-sm-push-6">
                <mat-card>
                    <mat-form-field>
                      <mat-label> من المركز رقم </mat-label>
  
                      <mat-select placeholder=" ">
                        <mat-option>   </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </mat-card>
              </div>

              <div class="col-sm-6 col-sm-pull-6">
                <mat-card>
                  <mat-form-field>
                    <mat-label> الى المركز رقم </mat-label>

                    <mat-select placeholder=" ">
                      <mat-option>   </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-card>
              </div>
            </div>


            <div class="row">
                <div class="col-sm-6 col-sm-push-6">
                  <mat-card>
                    <mat-form-field>
                      <input
                        matInput
                        type="number"
                        placeholder="العمله"
                        required
                        minlength="2"
                        maxlength="32"
                      />
                    </mat-form-field>
                  </mat-card>
                </div>
  
                <div class="col-sm-6 col-sm-pull-6">
                  <mat-card>
                    <mat-form-field>
                      <mat-label> المجموعه </mat-label>
  
                      <mat-select placeholder=" ">
                        <mat-option> رقم واحد </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </mat-card>
                </div>
              </div>

            <mat-card>
                <mat-checkbox labelPosition="after">
                    <span style="margin-right: 5px;" class="mat-checkbox-label">
                          الحسابات الغير متحركه
                    </span>
                  </mat-checkbox>
            </mat-card>

            <mat-card>
                <div class="row">
                  <div class="col-sm-12 ">
                    <fieldset>
                      <legend> رصيد الحساب</legend>
                      <mat-card>
                        <mat-radio-button value="val">  الكل</mat-radio-button>
                        <mat-radio-button value="val">  > </mat-radio-button>
                        <mat-radio-button value="val">  <  </mat-radio-button>
                        <mat-radio-button value="val">  = </mat-radio-button>
                        <mat-radio-button value="val">  =<  </mat-radio-button>
                        <mat-radio-button value="val">  =></mat-radio-button>
                        <mat-radio-button value="val">   بين</mat-radio-button>

                      </mat-card>
                    </fieldset>
                  </div>
                
                </div>
              </mat-card>





            <mat-card>
                <div class="row">
                    <div class="col-sm-6 col-sm-push-6 ">
                        <fieldset>
                          <legend>الترتيب</legend>
                          <mat-card>
                            <mat-radio-button value="val">
                              حسب الاسم</mat-radio-button
                            >
                            <mat-radio-button value="val">
                              حسب الرقم</mat-radio-button
                            >
                          </mat-card>
                        </fieldset>
                      </div>
                  <div class="col-sm-6 col-sm-pull-6 ">
                    <mat-card>
                        <mat-form-field appearance="fill">
                          <mat-label> تذبيل التقرير</mat-label>
      
                          <textarea matInput required placeholder=""></textarea>
                        </mat-form-field>
                      </mat-card>
                  </div>
                 
                </div>
              </mat-card>
    
          </mat-card>
   
  
    </mat-card-content>
  
    <mat-card-actions>
      <mat-card>
        <button mat-raised-button color="warn">طبــــاعة</button>
        <button mat-raised-button color="warn">تقـــرير بياني</button>
      </mat-card>
    </mat-card-actions>
  </mat-card>
  