mat-form-field 
{
    width: 100%;
}
#card
{
    width:90%;
}
mat-raised-button
{
float: right;
margin: 20px;
margin-top: 10px;

}
mat-radio-button
{
    margin-right: 15px;
}
table
{
    width: 100%;
}
mat-card
{
    margin-top: 20px;
}