<mat-card dir="rtl">
    <mat-card-header>
      <div mat-card-avatar>avatar</div>
      <mat-card-title>    الإقفال الشهري</mat-card-title>
      <mat-card-subtitle> إدارة النظام</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
     <div class="row">
         <div class="col-sm-6">
             <div class="row">
                 <mat-card>
                     <mat-checkbox [(ngModel)]="model">حسب مركز التكلفة</mat-checkbox>
                 </mat-card>
             </div>
           <div class="row">
            <div class="col-sm-12">
                <mat-card>
                  <mat-radio-group>
                      <mat-radio-button value="كل الحسابات">كل الحسابات</mat-radio-button>
                      <mat-radio-button value="إلغاء إختيار الحسابات">إلغاء إختيار الحسابات</mat-radio-button>
                      	<mat-radio-button value="حسابات محددة تبدأ برقم">حسابات محددة تبدأ برقم</mat-radio-button>
                  </mat-radio-group>
                </mat-card>
              </div>
           </div>
         </div>

         <div class="col-sm-6">
           <div class="row">
            <div class="col-sm-6">
                <mat-card>
                    <mat-form-field appearance="fill">
                        <mat-label>   الشهـــر  </mat-label>
                        <input type="number" matInput placeholder="Placeholder" />
                      </mat-form-field>
                </mat-card>
            </div>
            <div class="col-sm-6">
                <mat-card>
                    <mat-form-field appearance="fill">
                        <mat-label>   الســـنة </mat-label>
                        <input type="number" matInput placeholder="Placeholder" />
                      </mat-form-field>
                </mat-card>
            </div>
           </div>
           <div class="row">
            <mat-card>
                <mat-checkbox [(ngModel)]="model">عكس القيود العكسية</mat-checkbox>
                <mat-checkbox [(ngModel)]="model">إقفال فروق العملة للحسابات الأجنبية</mat-checkbox>
                <mat-checkbox [(ngModel)]="model">إقفال فروق العملة للحسابات الأجنبية ذات الارصدة الصفرية</mat-checkbox>
            </mat-card>
           </div>
         </div>
     </div>

     <div class="row">
        <mat-card>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> رقم الصنف </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> الإسم </th>
                  <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>
              
                 <!-- Name Column -->
                 <ng-container matColumnDef="unit">
                    <th mat-header-cell *matHeaderCellDef>  وحدة القياس </th>
                    <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
                  </ng-container>
    
                   <!-- Name Column -->
                <ng-container matColumnDef="sss">
                    <th mat-header-cell *matHeaderCellDef>  مخزون الإفتتـــاح </th>
                    <td mat-cell *matCellDef="let element"> {{element.sss}} </td>
                  </ng-container>
    
                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> العمليات </th>
                  <td mat-cell *matCellDef="let element"> <button class="action-button" mat-icon-button [matMenuTriggerFor]="actionsMenu">
                      <mat-icon>menu</mat-icon>
                  </button>
                  <mat-menu #actionsMenu="matMenu">
                      <button mat-menu-item (click)="editRole(role)">
                          <mat-icon>edit</mat-icon>
                          <span>{{ "Edit" | localize }}</span>
                      </button>
                      <button mat-menu-item (click)="delete(role)">
                          <mat-icon>delete</mat-icon>
                          <span>{{ "Delete" | localize }}</span>
                      </button>
                  </mat-menu> </td>
                  
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
         
         <button style="margin: 3px;" mat-mini-fab color="primary" class="pull-left" (click)="createRole()">
             <mat-icon>add</mat-icon>
         </button>
         
           </mat-card>
     </div>
  
      
      <mat-card>
        <mat-card-actions>
          <button mat-raised-button color="warn">إقفال </button>
          <button mat-raised-button color="warn">فتح</button>
          <button mat-raised-button color="warn">حفظ</button>
        </mat-card-actions>
      </mat-card>
    </mat-card-content>
  </mat-card>
  