<mat-card dir="rtl">
  <mat-card-header>
    <div mat-card-avatar>avatar</div>
    <mat-card-title> إلغاء الإقفال السنوي </mat-card-title>
    <mat-card-subtitle> إدارة النظام</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <mat-card>
        <mat-card-subtitle>بيانات الفرع</mat-card-subtitle>
        <br />
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field appearance="fill">
              <mat-label> رقم الفرع</mat-label>
              <input type="number" matInput placeholder="Placeholder" />
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field appearance="fill">
              <mat-label> السنة الحالية</mat-label>
              <input type="number" matInput placeholder="Placeholder" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field appearance="fill">
              <mat-label> رقم الفرع</mat-label>
              <input type="number" matInput placeholder="Placeholder" />
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field appearance="fill">
              <mat-label> السنة الحالية</mat-label>
              <input type="number" matInput placeholder="Placeholder" />
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>

    <div class="row">
      <mat-card>
        <mat-card-subtitle> إلغاء الإقفال السنوي</mat-card-subtitle>
        <br />
        <div class="row">
          <div class="col-sm-6">
            <button mat-button>إلغاء إقفال الحسابات</button>
          </div>
          <div class="col-sm-6">
            <mat-form-field appearance="fill">
              <mat-label> إمكانية إعادة نقل ارصدة الحسابات</mat-label>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <button mat-button>إلغاء الإقفال المخزني</button>
          </div>
          <div class="col-sm-6">
            <mat-form-field appearance="fill">
              <mat-label> إمكانية إعادة نقل ارصدة المخازن</mat-label>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <button mat-button>حذف الشيكات المنقولة</button>
          </div>
          <div class="col-sm-6">
            <mat-form-field appearance="fill">
              <mat-label> إمكانية إعادة نقل الشيكات المستحقة</mat-label>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <button mat-button>إلغاء الإقفال السنوي</button>
          </div>
          <div class="col-sm-6">
            <mat-form-field appearance="fill">
              <mat-label> حذف الإقفال السنوي مع الفرع الجديد</mat-label>
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>

    <mat-card>
      <mat-card-actions> </mat-card-actions>
    </mat-card>
  </mat-card-content>
</mat-card>
