mat-radio-button {
    display: block;
    margin-right: 10px;
}
mat-checkbox {
    display: block;
}

.mat-checkbox-label {
    line-height: 24px;
   margin-right: 5px;
  
    
}
table {
    width: 100%;


  }
legend
{
    text-align: right;
}

mat-tab{
    padding: 30px;
  
}
.mat-tab-labels {
    display: flex;
    flex-flow: row-reverse;
    
}

fieldset{
    margin-bottom: 20px;
    margin-left: auto;
    text-align: right;
    
}

.mat-tab-body-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 2px solid silver;
    
}
mat-card-actions {
    margin: 10px;
    
}

mat-card-header
{
    direction: rtl;
}
mat-card{
    direction: rtl;
    margin-bottom: 10px;
}

