<mat-card dir="rtl">
  <mat-card-header>
    <div mat-card-avatar>avatar</div>
    <mat-card-title> بيانات الفرع</mat-card-title>
    <mat-card-subtitle> إدارة النظام</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-sm-12">
        <mat-card>
          <div class="row">
            <div class="col-sm-6">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> اسم الفرع العربي </mat-label>
                  <input type="input" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
            <div class="col-sm-6">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> اسم الفرع الأجنبي</mat-label>
                  <input type="input" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> عنوان الفرع العربي </mat-label>
                  <input type="input" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
            <div class="col-sm-6">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> عنوان الفرع الأجنبي</mat-label>
                  <input type="input" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> الموقع على الأنترنت</mat-label>
                  <input type="input" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
            <div class="col-sm-6">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> السنة المالية</mat-label>
                  <input type="date" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> رقم التلفون </mat-label>
                  <input type="tel" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
            <div class="col-sm-6">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> رقم الفرع</mat-label>
                  <input type="number" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> رقم الفاكس</mat-label>
                  <input type="number" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
            <div class="col-sm-6">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> رقم صندوق البريد</mat-label>
                  <input type="number" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> البريد الالكتروني </mat-label>
                  <input type="email" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
            <div class="col-sm-6"></div>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <mat-card>
          <div class="row">
            <div class="col-sm-12">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> التوقيع الأول </mat-label>
                  <input type="input" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> التوقيع الثاني </mat-label>
                  <input type="input" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> التوقيع الثالث </mat-label>
                  <input type="input" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> التوقيع الرابع </mat-label>
                  <input type="input" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <mat-card>
                <mat-form-field appearance="fill">
                  <mat-label> التوقيع الخامس</mat-label>
                  <input type="input" matInput placeholder="Placeholder" />
                </mat-form-field>
              </mat-card>
            </div>
          </div>
        </mat-card>
      </div>

      <div class="col-sm-6">
        <mat-card>
          <mat-card-subtitle> الشعار</mat-card-subtitle>
          <hr />
          <picture>
            <figure></figure>
          </picture>
        </mat-card>
      </div>
    </div>

    <mat-card>
      <mat-card-actions>
        <button mat-raised-button color="warn">تعديل</button>
        <button mat-raised-button color="warn">حفظ</button>
      </mat-card-actions>
    </mat-card>
  </mat-card-content>
</mat-card>
