mat-radio-button {
    direction: rtl;
    margin-right: 30px;
}
mat-checkbox {
    display: block;
    direction: rtl;
}
mat-select
{
    direction: rtl;
}
.mat-checkbox-label {
    line-height: 24px;
   margin-right: 5px;
  
    
}

mat-label
{
    direction: rtl;
    float: right;

}
mat-tab{
    padding: 30px;
  
}
.mat-tab-labels {
    display: flex;
    flex-flow: row-reverse;
    
}

fieldset{
    margin-bottom: 20px;
    margin-left: auto;
    text-align: end;
}

.mat-tab-body-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 30px;
    
}
mat-card-actions {
    margin: 10px;
}

legend
{
    direction: ltr;
}


