<mat-card dir="rtl">
    <mat-card-header>
        <div mat-card-avatar>avatar</div>
        <mat-card-title>بيــــانات المجموعات</mat-card-title>
        <mat-card-subtitle>المدخـــلات الأساسية</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
       <mat-tab-group mat-align-tabs="end" dir="ltr">
           <mat-tab label="بيانات المخازن">
            
               <div class="col-sm-12" style="padding: 16px;">
                <mat-card>
                 
                <mat-form-field appearance="fill">
                    <mat-label>رقــــم المخزن</mat-label>
                    <input matInput placeholder="Placeholder">
                    
                    
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>أسم  المخزن العربي</mat-label>
                    <input matInput placeholder="Placeholder">
                    
                    
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>اسم  المخزن الأجنبي</mat-label>
                    <input matInput placeholder="Placeholder">
                    
                    
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>مكان  المخزن</mat-label>
                    <input matInput placeholder="Placeholder">
                    
                    
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>  أمين المخزن</mat-label>
                    <input matInput placeholder="Placeholder">
                    
                    
                  </mat-form-field>
                  <mat-form-field appearance="standard">
                    <mat-label>تليفون المخزن  </mat-label>
                    <input type="tel" matInput placeholder="Placeholder">
                    
                    
                  </mat-form-field>
                  <mat-form-field appearance="standard">
                    <mat-label> رقــــم الفاكس </mat-label>
                    <input type="phone" matInput placeholder="Placeholder">
                    
                    
                  </mat-form-field>

                  
               </mat-card>
               </div>
              
           </mat-tab>
           
           <mat-tab label="طباعة بيانات المجموعات">
             Content 2</mat-tab>
       </mat-tab-group>
    </mat-card-content>
    
    <div>
        <mat-card>
            <mat-card-actions>
                <button mat-raised-button color="warn">حفظ</button>
                <button mat-raised-button>تراجع</button>
                <button mat-raised-button >الغاء</button>
                <button mat-raised-button>تعديل</button>
                <button mat-raised-button >بحث</button>
                <button mat-raised-button>إضافة</button>
                <button mat-raised-button >إغلاق</button>
                
                </mat-card-actions>
        </mat-card>
    </div>
</mat-card>