<mat-card dir="rtl">
    <mat-card-header>
        <div mat-card-avatar>avatar</div>
        <mat-card-title>بيــــانات الرفوف</mat-card-title>
        <mat-card-subtitle>المدخـــلات الأساسية</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-card >

            <mat-form-field appearance="fill">
                <mat-label>رقم المخزن </mat-label>
                <input matInput placeholder="ادخل الاسم">
                
                
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>إسم المخزن العربي</mat-label>
                <input matInput placeholder="Placeholder">
                
                
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>رقم الرف</mat-label>
                <input matInput placeholder="Placeholder">
                
                
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>مواصفات الرف  بالعربي</mat-label>
                <input matInput placeholder="Placeholder">
                
                
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label> مواصفات الرف بالأجنبي</mat-label>
                <input matInput placeholder="Placeholder">
                
                
              </mat-form-field>
              
           </mat-card>

            
            <mat-card>
                <mat-card-actions>
                    <button mat-raised-button color="warn">حفظ</button>
                    <button mat-raised-button>تراجع</button>
                    <button mat-raised-button >الغاء</button>
                    <button mat-raised-button>تعديل</button>
                    <button mat-raised-button >بحث</button>
                    <button mat-raised-button>إضافة</button>
                    <button mat-raised-button >إغلاق</button>
                    
                    </mat-card-actions>
            </mat-card>
    </mat-card-content>
    
    
</mat-card>