<mat-card dir="rtl">
  <mat-card-header>
    <div mat-card-avatar>avatar</div>
    <mat-card-title> بيانات التوريد</mat-card-title>
    <mat-card-subtitle> المشتـــريات</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-card>
      <div class="row">
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> رقم الصنف</mat-label>
              <input type="number" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> إسم الصنف</mat-label>
              <input type="input" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> رقم المورد</mat-label>
              <input type="number" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> إسم المورد</mat-label>
              <input type="input" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> الوحدة </mat-label>
              <input type="input" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> سعر الوحدة</mat-label>
              <input type="input" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> العملة </mat-label>
              <input type="input" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
        <div class="col-sm-6">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> رقم التصنيع</mat-label>
              <input type="number" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label> ملاحظات</mat-label>
              <input type="input" matInput placeholder="Placeholder" />
            </mat-form-field>
          </mat-card>
        </div>
      </div>
    </mat-card>

    <mat-card>
      <mat-card-actions>
        <button mat-raised-button color="warn">حفظ</button>
        <button mat-raised-button color="warn">إضافة</button>
        <button mat-raised-button color="warn">بحث</button>
        <button mat-raised-button color="warn">الغاء</button>
        <button mat-raised-button color="warn">تعديل</button>
      </mat-card-actions>
    </mat-card>
  </mat-card-content>
</mat-card>
