<mat-card dir="rtl">
    <mat-card-header class="text-right">
      <div mat-card-avatar>avatar</div>
      <mat-card-title>الخيارات</mat-card-title>
      <mat-card-subtitle> (المتغيرت) تهيئة النظام</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group dir="ltr" mat-align-tabs="end">
        <mat-tab label="خيارات عامه"  >
         <div class="mat-tab-body-wrapper">

            
                <mat-card>
                        <mat-form-field appearance="fill">
                            <mat-label>   تسلسل فاتوره المبيعات</mat-label>
                            <mat-select placeholder="   حسب النوع-1">
                                    <mat-option [value]="'val'"></mat-option>
                                </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                                <mat-label>   تسلسل مردود المبيعات</mat-label>
                                <mat-select placeholder="  حسب النوع-2">
                                        <mat-option [value]="'val'">    </mat-option>
                                    </mat-select>
                            </mat-form-field>
                    </mat-card>

                   <mat-card>
                        <mat-checkbox labelPosition="after" > <span style="margin-right: 5px;" class="mat-checkbox-label">   الضريبه على مستوى الفاتوره </span> </mat-checkbox>
      
                   </mat-card>
                   <mat-card>
                        <mat-checkbox labelPosition="after" > <span style="margin-right: 5px;" class="mat-checkbox-label">     استخدام تحسين المدينه  </span> </mat-checkbox>
      
                   </mat-card>
         
  
                 <mat-card >
                        <mat-checkbox labelPosition="after" > <span style="margin-right: 5px;" class="mat-checkbox-label">  استدعاء سند القبض من فاتوره المبيعات</span> </mat-checkbox>
                        <mat-checkbox labelPosition="after" > <span style="margin-right: 5px;" class="mat-checkbox-label">   اظهار اخر سعر بيع للعميل وللصنف مع الشد في فاتوره المبيعات </span></mat-checkbox>
                        <mat-checkbox labelPosition="after" > <span style="margin-right: 5px;" class="mat-checkbox-label">  اظهار رقم الرف في تفاصيل فاتوره المبيعات</span> </mat-checkbox>
                        <mat-checkbox labelPosition="after" > <span style="margin-right: 5px;" class="mat-checkbox-label">    استخدام شاشه امر الصرف في فواتير المبيعات لرقابه على صرف الكميات</span> </mat-checkbox>
                        <mat-checkbox labelPosition="after" > <span style="margin-right: 5px;" class="mat-checkbox-label">     تصفير السعر في حاله المرور على على الكميه او تغييرها</span> </mat-checkbox>
                        <mat-checkbox labelPosition="after" > <span style="margin-right: 5px;" class="mat-checkbox-label">   اظهار نماذج تقرير فواتير المبيعات عند الطباعه</span></mat-checkbox>
                        <mat-checkbox labelPosition="after" > <span style="margin-right: 5px;" class="mat-checkbox-label">  استخدام ارقام الغرف في المبيعات بالنسبه لنظام الصيدليات</span> </mat-checkbox>
                                              
                </mat-card>
    
      <fieldset>
        <legend></legend>
     </fieldset>
  
           
         </div>
        </mat-tab>
  
        <mat-tab label="خــــيارات اخرى">
          <div class="mat-tab-body-wrapper align-right">
            <mat-checkbox labelPosition="after" > <span style="margin-right: 5px;" class="mat-checkbox-label">   السماح بالكميات المجانيه </span> </mat-checkbox>
            <mat-checkbox labelPosition="after" > <span style="margin-right: 5px;" class="mat-checkbox-label">  اظهار نسبه الكميه المجانيه للصنف اليا</span> </mat-checkbox>
            <mat-checkbox labelPosition="after" > <span style="margin-right: 5px;" class="mat-checkbox-label">  طباعه نموذج اخر من فاتوره المبيعات     </span></mat-checkbox>
            <mat-checkbox labelPosition="after" > <span style="margin-right: 5px;" class="mat-checkbox-label">إظهار  نموذج اخر للاقصساطمن فاتوره المبيعات</span> </mat-checkbox>
            <mat-checkbox labelPosition="after" > <span style="margin-right: 5px;" class="mat-checkbox-label">    اظهار تقرير بعدد مرات البيع وقيمه المجاني في سعر البيع</span> </mat-checkbox>
            <mat-checkbox labelPosition="after" > <span style="margin-right: 5px;" class="mat-checkbox-label">إظهار  نسبه التخفيض لصنف اليا</span> </mat-checkbox>
            <mat-checkbox labelPosition="after" > <span style="margin-right: 5px;" class="mat-checkbox-label"> اظهار تاريخ الاستحقاق في فاتوره المبيعات اليا بحسب فتره الائتمان</span> </mat-checkbox>
            <mat-checkbox labelPosition="after" > <span style="margin-right: 5px;" class="mat-checkbox-label">    عدم امكانيه تعديل اسم العميل للفواتير والمردودات التي تحتوي على رقم العميل </span> </mat-checkbox>
            <mat-checkbox labelPosition="after" > <span style="margin-right: 5px;" class="mat-checkbox-label"> امكانيه تعديل  رقم العميل  لمردود المبيعات التي تحتوي على رقم معين  </span> </mat-checkbox>
            <mat-checkbox labelPosition="after" > <span style="margin-right: 5px;" class="mat-checkbox-label"> اظهار رقم الشيك في الاقساط</span> </mat-checkbox>
            <mat-checkbox labelPosition="after" > <span style="margin-right: 5px;" class="mat-checkbox-label">    استخدام  الفيز  في انواع طريقه  الدفع في الفاتوره </span> </mat-checkbox>
            <mat-checkbox labelPosition="after" > <span style="margin-right: 5px;" class="mat-checkbox-label">  اظهار رصيد العميل في فاتوره  المبيعات  </span> </mat-checkbox>
            <mat-radio-button labelPosition="after" value="SUFYAN"><span class="mat-checkbox-label">   رقم العميل </span></mat-radio-button>
           <mat-radio-button labelPosition="after" value="ALI"><span class="mat-checkbox-label"> لحساب العميل </span></mat-radio-button>
                    
            <mat-checkbox labelPosition="after" > <span style="margin-right: 5px;" class="mat-checkbox-label">  اختساب نسبه ضريبه  الفاتوره من اجمالي  الفاتوره بدون الاعباء  </span> </mat-checkbox>
            <mat-checkbox labelPosition="after" > <span style="margin-right: 5px;" class="mat-checkbox-label">  تفعيل بيانات  خدمه الشحن في فاتوره المبيعات  </span> </mat-checkbox>
            
          </div>
          
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <mat-card-actions >
      <button mat-raised-button color="primary" >حفـــظ</button>
      <button mat-raised-button color="primary" >تعديل</button>
      <button mat-raised-button >الغاء</button>
      </mat-card-actions>
  </mat-card>
